html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}
::selection {
  background-color: #000000;
  color: #00bfe7;
}